.wrapPages {
	position: relative;
	overflow-y: auto;
	min-height: 100%;
	z-index: 1001;
	margin-top: 5px;

	.contCardList {
		padding: 25px 0px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		min-height: 85vh;
		gap: 25px;
		width: 90vw;
	}
	.contList {
		display: flex;
		flex-direction: column;
		margin-left: 50px;
		color: white;
		gap: 45px;
	}
	.option {
		display: flex;
		justify-content: space-around;
		.searchContainer {
			display: flex;
			align-items: center;
			gap: 35px;
			.searchContainer {
				color: white;
			}
		}
		.itemsPerPage {
			display: flex;
			align-items: center;
			gap: 25px;
			margin-bottom: 10px;
			color: white;

			select {
				border: none;
				background-color: #d3198e;
				border-radius: 15px;
				padding: 5px;
				font-size: 14px;
			}
		}
	}
	.loadMore {
		display: flex;
		justify-content: center;
		margin: 20px 0;

		button {
			padding: 10px 20px;
			font-size: 16px;
			background-color: #f321a6;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				background-color: #d3198e;
			}
		}
	}

	.toggleContainer {
		display: flex;
		justify-content: center;
		margin-bottom: 16px;
		.switch {
			position: relative;
			display: inline-block;
			width: 40px;
			height: 20px;

			input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				transition: 0.4s;
				border-radius: 20px;

				&:before {
					position: absolute;
					content: '';
					height: 13px;
					width: 13px;
					left: 3px;
					bottom: 3px;
					background-color: white;
					transition: 0.4s;
					border-radius: 50%;
				}
			}

			input:checked + .slider {
				background-color: #f321a6;

				&:before {
					transform: translateX(18px);
				}
			}
		}
	}
}
