//Шрифт сюда засунул если чё
html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer,
header,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// input {
//   -webkit-appearance: none;
//   border-radius: 0;
// }

button {
	background: none;
	border: none;
}

button:active {
	transform: scale(0.9);
	filter: opacity(0.5);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
textarea {
	-webkit-tap-highlight-color: transparent;
	/* для iOS Safari */
	-webkit-user-select: none;
	/* предотвратить выделение текста */
	user-select: none;
	/* предотвратить выделение текста для других браузеров */
}

/* Для всех элементов */
* {
	user-select: none; /* Отключает выделение текста */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: none; /* Firefox */
	outline: none; /* Отключает контур при фокусе */
	-webkit-tap-highlight-color: transparent; /* Отключает выделение на сенсорных устройствах */
}

/* Дополнительно для изображений */
img {
	-webkit-touch-callout: none; /* Отключает контекстное меню на изображениях в iOS */
}

/* Для ссылок */
a {
	outline: none; /* Отключает контур при фокусе */
	-webkit-tap-highlight-color: transparent; /* Отключает выделение на сенсорных устройствах */
}

/* Для кнопок */
button {
	outline: none; /* Отключает контур при фокусе */
	-webkit-tap-highlight-color: transparent; /* Отключает выделение на сенсорных устройствах */
}

/* Отключение контекстного меню на всей странице */
body {
	-webkit-touch-callout: none; /* Отключает контекстное меню на всей странице в iOS */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Отключает выделение текста */
	-moz-user-select: none; /* Firefox */
	outline: none; /* Отключает контур при фокусе */
	-webkit-tap-highlight-color: transparent; /* Отключает выделение на сенсорных устройствах */
}

img {
	user-select: none; /* Запрещает выделение текста/элементов */
	-webkit-user-drag: none; /* Запрещает перетаскивание изображения в WebKit-браузерах */
	pointer-events: none; /* Отключает все события мыши для элемента */
	-webkit-touch-callout: none; /* Запрещает контекстное меню на мобильных устройствах */
}
